<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> </title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>

    </head>
	<body>
	
		<div>
 	<h1>Intestellar Transport System Form Form</h1>
 	
	     <form action="#" th:action="@{/save}" th:object="${planet}" method="post">
	     
	     <table>
	     <tr>
			<td width="10%">Origin Planet Name :</td>
				
			<td width="90%" align="left">
			<input type="text" th:field="*{name}" />
			<label th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"  th:class="'error'">Error in Planet Name</label></td>
								
		</tr>
		<tr>
			<td>Origin Planet Node : 	</td>
				
			<td><input type="text" th:field="*{node}" />
			<label th:if="${#fields.hasErrors('node')}"  th:errors="*{node}"  th:class="'error'">Error in Planet Node</label>
			</td>
									
		</tr>
		
		<tr>
			<td>Destination Planet :	</td>
				
			<td>     <input type="text" th:field="*{name}" />
			<label th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"  th:class="'error'">Error in Destination</label>
			</td>
									
		</tr>
		
		<tr>
			<td>Destination Planet Node :	</td>
				
			<td>     <input type="text" th:field="*{node}" />
			<label th:if="${#fields.hasErrors('node')}"  th:errors="*{node}"  th:class="'error'">Error in Destionation Node</label>
			</td>
									
		</tr>
		
		<tr>
		<td>	</td>
		<td >
	              <input type="submit" value="Travel"/> 
	              
	            </td>
	        </tr>
	        
		</table>
		
		
	    
	     </form>
	     </div>
	</body>
</html>