<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Planets!! </title>
        
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>


<body>
<h1 align="center">Planets</h1>
<table id="t02"  cellpadding="2">
<tr>
<th>
<a  href="/travel"><h2>Home Page:Travel</h2></a>

</th>


</tr>
</table>
<table >


</table>
   
<form:form>
<table id="t01" border="2" width="70%" cellpadding="2">
<tr><th>Origin Planet Name</th><th>Node</th><th>Destionation Planet Name</th>
<th>Sex</th><th>Date Modified</th>
<th>Email</th><th>Section</th><th>Country</th>
<th>Edit</th><th>Delete</th></tr>  

      
   <td th:text="${planetNames.id}"></td>  
   <td th:text="${planetNames.nod}"></td> 
   <td th:text="${planetNames.name}"></td>   
   
   </tr>  
  
   
   
   </table>  
   <br/>
   
  
   </form:form>
</body>
</html>